@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc
@model IEnumerable<BusinessObject.Models.TblBook>


@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shopping</h1>

<h2>@Context.Session.GetString("MESSAGEADD")</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <form asp-action="AddToCart" asp-controller="Cart" method="get">
                        <input type="number" name="quantity" value="1" />
                        <input type="hidden" name="bookid" value="@item.BookId" />
                        <button>Add to Cart</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
